<div id="app-container" class="col-md-10 offset-md-1">
    <app-header (handleLogoutEvent)='handleLogout()' [jwt]='jwt()'></app-header>
    
    <div id="content" class="p-4">
        
        <app-side-bar [jwt]='jwt()'></app-side-bar>  
        
        <div>
            <app-alert [message]="alertMessage" [type]="alertType" type="danger"></app-alert>
            <div>
                <router-outlet (activate)="subscribeToEmitter($event)"></router-outlet>
            </div>
        </div>
    </div>
    <app-footer></app-footer>
</div>
